.bannerContainer{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
 }

 .name{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 2em;
    color: #71798f;
    font-weight: 400;
    letter-spacing: .07em;
    height: auto;
 }

 .begruessung{
     font-size: 24px;
     font-weight: bolder;
     
 }



 .title{
     margin-bottom: 2em ;
     font-weight: bolder;
 }



 .gridContainer{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.more{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 40px;
 
}


.flexContainer{
    display: flex;
    
    align-items: center;
}

.imageContainer{
    width: 48%;
}

.imageContainer img{
    width: 100%;
    height: auto;
}

.textContainer{
    width: 48%;
}

.spacing{
    width: 4%;
}