@import "../themes/variable.scss"; 

.homecontainer{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;


  .banner{
    .name{
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 2em;
        line-height: 1.4em;
        font-weight: 400;
        letter-spacing: .07em;
        height: auto;
    }

  
  }
}

.infocontainer{
    height: 100vh; 
    display: flex;
    align-items: center;
   

    .content{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .coleins{
            width: 47.5%;

            img{
                width: 100%;
                height: auto;
            }
        }

        .colzwei{
            width: 47.5%;
            img{
                width: 100%;
                height: auto;
            }

            a{
                margin-right: 30px;
                padding: 10px;
                border: 1px solid #000;
                border-radius: 5px;
            }

            a:hover{
                background-color: $dark;
                color: #fff ;
            }
        }

        .space{
            width: 5%;
        }
    }
}

.flexContainer{
    height: 100vh;

    justify-content: center;
    display: flex;
    flex-direction: column;
    .homeGricontainer{
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
    }

    .buttonContainer{
        width: 100%;
        display: flex;
        justify-content: center;
      
    }

    a{
        margin-right: 30px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
    }

    a:hover{
        background-color: $dark;
        color: #fff ;
    }
   
}

.space{
    height: 40px;
}

@media(max-width:767px){
    .infocontainer {
        height: auto;
        .content{
            flex-direction: column;

            .coleins{
                width: 100%;
            }
            
            .colzwei{
                width: 100%;
            }

            .space{
                height: 20px;
            }
        }
    }


    .mobilespace{
        height: 80px;
    }

    .space{
        height: 80px;
    }

    .flexContainer{
        height: auto;
        .homeGricontainer{
            grid-template-columns: 100%;
            grid-gap: 5%;
        }
    }

}