.bannerContainer{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
 }

 .name{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 2em;
    color: #71798f;
    font-weight: 400;
    letter-spacing: .07em;
    height: auto;
 }

 .begruessung{
     font-size: 24px;
     font-weight: bolder;
     color: rgb(242, 245, 247);
     
 }



 .title{
     margin-bottom: 2em ;
     font-weight: bolder;
 }



 .gridContainer{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.more{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 40px;
 
}


.flexContainer{
    display: flex;
    
    align-items: center;
}

.imageContainer{
    width: 48%;
   
}

.imageContainer img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

.textContainer{
    width: 48%;
}

.spacing{
    width: 4%;
}


@media(max-width:767px){
    .gridContainer{
        grid-template-columns: 100%;
    }

    .more{
        margin-top: 10em;
    }

    .flexContainer{
        flex-direction: column;
        width: 100%;
    }

    .textContainer{
        width: 100%;
    }

    .textContainer{
        text-align: left;
    }

    .imageContainer{
        width: 100%;
        margin-bottom: 2em;
    }
}